.quizz__container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.quizz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

 
}
 

.quizz_logo > h3 {
  margin: 30px;

  
  
}
.quizz_questions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #44487480;
  border-radius: 8px;
  background-color: #D9E0EC;
  width: 100%;
  height: 200px;
  font-size: 20px;
  margin-bottom: 20px;
  color:#252630;
  box-shadow: 22px 10px 39px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 22px 10px 39px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 22px 10px 39px 1px rgba(0,0,0,0.75);
}

.quizz_option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 20px;
  
}
.btn-option {
  margin: 30px;
     background-color:  #44487480 ;
  border-radius: 8px;
  border: 1px solid #44487480;
  width: 40%;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  box-shadow: 22px 10px 39px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 22px 10px 39px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 22px 10px 39px 1px rgba(0,0,0,0.75);
}
.btn-option:hover {
  background-color: #AE6DDF ;
}

.btn-option:active {
  position: relative;
  top: 5px;
}
.quizz_results {
    
  width: 100%;
  height: 350px;
  background-color: #D9E0EC;
  border-radius: 30px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 22px 10px 39px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 22px 10px 39px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 22px 10px 39px 1px rgba(0,0,0,0.75);
  
}
.quizz_results > h1{
  margin-bottom: 10px;
 
}

.quizz_results > p {


  font-size:30px;
}
